//IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Revalia&family=Syne+Tactile&display=swap');

//BREAKPOINTS
$bp-700: 700px;
$bp-900: 900px;
$bp-1000: 1000px;
$bp-1100: 1100px;
$bp-1280: 1280px;

//COLORS
$red: #B0001E;
$blue: #4249F8;
$white: #FFFFFF;

//FONTS
$f-revalia: 'Revalia';
$f-syne-tactile: 'Syne Tactile';

//OTHER
$maxWidth: 1280px;