//IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Roboto&family=Revalia&family=Macondo+Swash+Caps&family=Syne+Tactile&display=swap');

//BREAKPOINTS
$bp-600: 600px;
$bp-700: 700px;
$bp-900: 900px;
$bp-1000: 1000px;
$bp-1100: 1100px;
$bp-1280: 1280px;

//COLORS
$red: #B0001E;
$blue: #4249F8;
$white: #FFFFFF;
$black: #000000;
$c-hover: $blue;
$c-menuBackground: $red;

//FONTS
$f-MaShanZheng: 'Ma Shan Zheng';

//MIXINS
@mixin scalableImage{
    max-width: 100%;
    height: auto;
}

//OTHER
$maxWidth: 1280px;

