@import '/src/app/styles/variables.scss';

.searchContainer{
    background-color: $red;
    height: 4em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.searchField{
    width: 90%;
    border-radius: 5px;
    border: 0;
    font-size: 2em;
}

.searchIcon{
    position: absolute;
    right: 35px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}