@import '/src/app/styles/variables.scss';

.sloganField{
    background-color: $red;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.slogan{
    font-family: $f-MaShanZheng;
    font-size: 24px;
    color: $white;
}

.largeLetter{
    font-family: $f-MaShanZheng;
    color: $white;
    font-size: 48px;
}

.iconAndMenuContainer{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Logo Menu Menu Menu Menu";
    justify-content: center; 
    align-items: center; 
  }
  .Logo { grid-area: Logo; }
  .Menu { grid-area: Menu; } 
