@import '/src/app/styles/variables.scss';

:root {
  --max-width: 1200px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $black;
  background: $white;
}

a {
  color: inherit;
  text-decoration: none;
}
